/* ======================================
 * TABLE OF CONTENTS
 * - NAVBAR
 * - LANDING PAGE
 * - PRODUCT PAGE
 * ====================================== */

/* ======================================
 * NAVBAR
 * ====================================== */
.navbar-main {
    background: #fff !important;
}

.navbar-main .nav-link-inner--text {
    font-size: 12px !important;
}

.navbar-main a.nav-link {
    padding: 0 !important;
}

.navbar-main .nav-link-inner--text {
    color: #6b664d;
}

.navbar-categories {
    top: 30px !important;
    padding: 0;
}

.navbar-categories .nav-link-inner--text {
    color: #fff;
}

.navbar-categories ul.list-categories {
    background: #6a8276;
}

.navbar-categories ul.list-categories li {
    display: inline-block;
    margin: 0 15px;
}

/* ======================================
 * LANDING PAGE
 * ====================================== */
.homepage .header {
    background: linear-gradient(
            0deg,
            rgba(28, 28, 28, 0.3),
            rgba(28, 28, 28, 0.3)
        ),
        url("../img/bg/indigenous_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage .container-fluid {
    background: linear-gradient(
            0deg,
            rgba(28, 28, 28, 0.3),
            rgba(28, 28, 28, 0.3)
        ),
        url("../img/bg/indigenous_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.homepage #carouselExampleIndicators {
    width: 80%;
    margin: 0 auto;
}

.homepage .custom-h1 {
    font-size: 2rem;
}

.homepage .img-responsive {
    width: 100%;
    height: 100%;
}

.homepage .img-card {
    height: 100px;
}
.homepage .search-box {
    display: flex;
    width: 707px;
}

.homepage .input-group .form-control {
    padding: 28px 30px;
    font-size: 17px;
    float: left;
    width: 90%;
    box-sizing: border-box;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.homepage button.btn {
    float: left;
    background: #fff;
    color: #000;
    font-size: 17px;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* ======================================
 * PRODUCT PAGE
 * ====================================== */
.container.products .list-categories {
    padding-left: 0;
}

.container.products .list-categories li {
    display: inline-block;
    margin-top: 15px;
}
/* ======================================
 * PRODUCT PAGE
 * ====================================== */
.products-show .img-responsive {
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.products-show .img-desc {
    width: 550px;
    height: 300px;
    margin-left: 15%;
    margin-bottom: 0;
}

.products-show .custom-h3 {
    font-size: 2rem;
}
.products-show .custom-h5 {
    font-size: 1.2rem;
}

.products-show .btn {
    text-transform: uppercase;
}

.products-show .card-fixed-right {
    position: sticky;
    top: 110px;
}

.products-show p {
    color: #32325d;
}

/* Checkout */
.checkout .img-checkout {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.checkout p {
    margin: 0;
}
